*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
    
}
body{
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    

}
.div{
    position: absolute;
    top: 23%;
    left: 40%;
    transform: -50%,-50%;
    padding: 80px;
    border-radius: 15px;
   
}
.button{
    background-color: blueviolet;
    border-radius: 3px;
    position: relative;
    left: 50px;
    cursor: pointer;
}
.dados{
    border-radius: 6px;
    cursor: pointer;
}